@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.input-form-contacts:focus {
    --tw-ring-color: none;
    border-left: 1px solid #f5bd16;
    border-bottom: 1px solid #f5bd16;
}